.cover__subtitle {
    margin: 32px 0 0 0;
    padding: 0;
    width: 30.4%;
    font-weight: 400;
    font-size: 18px;
    font-style: normal;
    line-height: 1.22;
    text-align: center;
    z-index: 2;
}

@media screen and (max-width: 1024px) {
    .cover__subtitle {
        width: 35.2%;
    }
}

@media screen and (max-width: 768px) {
    .cover__subtitle {
        width: 46.9%;
    }
}

@media screen and (max-width: 420px) {
    .cover__subtitle {
        font-size: 14px;
        width: 80%;
        margin-top: 16px;
    }
}