.lead__image {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 0;
    text-align: center;
    position: relative;
    max-width: 984px;
}

@media screen and (max-width: 1024px) {
    .lead__image {
        margin: 0 48px;
    }
}

@media screen and (max-width: 768px) {
    .lead__image {
        margin: 0;
    }
}
