.cover {
    padding: 0 0 92px 0;
    margin: 0 auto;
    display: flex;
    align-items: center;
    position: relative;
    max-width: 1184px;
}

@media screen and (max-width: 768px) {
    .cover {
        padding-bottom: 88px;
    }
}

@media screen and (max-width: 425px) {
    .cover {
        padding-bottom: 64px;
    }
}