.place__link {
    padding: 0;
    margin: 0;
    color: #fff;
    font-size: 18px;
    font-style: normal;
    line-height: 1.22;
    transition: opacity 0.3s linear;
}

.place__link:hover {
    cursor: pointer;
    opacity: 0.8;
}